/*=================================SETUP=================================*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'eigerdalsheavy';
    src: url('../css/fonts/eigerdalsheavy-webfont.woff2') format('woff2'),
        url('../css/fonts/eigerdalsheavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'crikey_tallsemibold';
    src: url('../css/fonts/crikey_tall-webfont-webfont.woff2') format('woff2'),
        url('../css/fonts/crikey_tall-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*=================================HTML Elements=================================*/

body {
    font-family: 'eigerdalsheavy';
    background-color: floralwhite;
    color: #01d6e9;
}

.header {
    border-bottom: solid 5px #01d6e9;
    height: 15%
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 9%;
    margin-bottom: 2%;
}

.footer-sub {
    font-size: 2vw;
}

.footer-button {
    border: 0.5vw solid #01d6e9;
    border-radius: 20px;
    color: #01d6e9;
    font-size: 2vw;
    font-family: eigerdalsheavy;
    margin-top: 5px;
    padding: 10px 10px;
    background-color: floralwhite;
    white-space: nowrap;
}
.footer-button:hover {
    border: 0.5vw solid #e99801;
    color: #e99801;
}

.parallax { 
    background-image: url("../images/PP.jpg");
    height: 33%; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #01d6e9;
    text-decoration: none;
}

a:hover {
    color: #e99801;
}

article {
    overflow: auto;
}

div {
    display: block;
}

ul {
    overflow: hidden;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
ul.skills {
    padding-inline-start: 15%;
}

strong {
    font-size: 3vw;
}

li {
    display: list-item;
}

/*=================================Classes=================================*/
.wutIdo{
    margin-left: 14%;
}

.columnListing {
    width: 33.333333%;
    text-align: left;
    font-size: 2vw;
}

.noHover {
    pointer-events: none;
}

.nav {
    list-style: none;
    text-align: center;
}

.nav li {
    display: inline;
    text-align: center;
}

.nav a {
    display: inline-block;
}

.sub {
    font-size: 3vw;
}

.contact {
    margin: 10%;
    margin-top: 0%;
}

.content {
    align-items: center;
    margin: 10%;
    margin-top: 5%;
    position: relative;
}

.introtext {
    text-align: center;
}

.articletext {
    margin-left: 25%;
}

.picture {
    max-width: 25%;
    max-height: auto;
    float: left;
}

.profile {
    border-radius: 50%;
}

.titles {
    margin-top: 10%;
}

.SectionHeader {
    width: 250px;
    font-weight: bold;
    font-size: 3vw;
}

.title {
    font-weight: bold;
    color: #01d6e9;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.centered {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    position: relative;
}

.centeredTitle {
    text-align: center;
}

.button {
    border: 0.5vw solid #01d6e9;
    border-radius: 20px;
    color: #01d6e9;
    display: inline-block;
    font-size: 2vw;
    font-family: eigerdalsheavy;
    margin-top: 5vw;
    padding: 1vw 2vw;
    background-color: transparent;
}

.submit {
    border: 0.5vw solid #01d6e9;
    border-radius: 20px;
    color: #01d6e9;
    display: inline-block;
    font-size: 2vw;
    font-family: eigerdalsheavy;
    padding: 1vw 2vw;
    background-color: transparent;
}

.button:hover {
    border: 0.5vw solid #e99801;
    color: #e99801;
    cursor: pointer;
}
.submit:hover {
    border: 0.5vw solid #e99801;
    color: #e99801;
    cursor: pointer;
}


.button-center {
    display: inline-block;
}

.line {
    border-top: 0.5vw solid #01d6e9;
    width: 30%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
}
.left {
    right: 100%;
}
.right {
    left: 100%;
}


.ajaxForm {
    font-family: eigerdalsheavy;
}

.mail-text {
    width: 50%;
    max-width: 750px;
    margin: 1%;
    line-height: 2vw;
    padding: 6px;
    font-size: 1vw;
    border: 5px solid #01d6e9;
    border-radius: 10px;
}

.mail-creds {
    line-height: 2vw;
    padding: 6px;
    font-size: 1vw;
    border: 5px solid #01d6e9;
    border-radius: 10px;
}

.credentials {
    display: inline;
}

.project {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    border: 5px solid #01d6e9;
    border-radius: 1vw;
}

.project:hover {
    border: 5px solid #e99801;
    color: #e99801;
    cursor: pointer;
}

/*=================================Layout=================================*/

.flex {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    1
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: inline-block;
}

.column {
    flex-direction: column;
    align-items: center;
}

.wrapper {
    min-height: calc(100vh - 150px);
}


/*=================================Media Queries=================================*/

@media (max-width:630px){
    .header {
        font-size: 2.5vh;
        height: 5vh;
    }
    .nav {
        margin: 0.7vh;
    }
    .nav a {
        padding-top: 0.5vh;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .parallax {
        height: 25vh;
        background-position: -25vw -20vh;
    }
    
    .sub {
        font-size: 3vh;
    }
    .content {
        font-size: 2vh;
        margin-bottom: 20vh;
    }
    .line {
        border-top: 1.5vw solid #01d6e9;
        width: 20vw;
        margin-top: 5.5vh;
        margin-left: -20vw;
        margin-right: -20vw;
    }
    .SectionHeader {
        font-size: 3vh;
    }
    strong {
        font-size: 2vh;
    }
    .wutIdo {
        margin-left: 4vw;
    }
    .columnListing {
        padding-left: 2vw;
        font-size: 1.5vh;
    }
    .button {
        font-size: 3vh;
        padding: 3vw 5vw;
    }
    .footer {
        bottom: 5vh;
    }
    .footer-button {
        font-size: 2vh;
        padding: 2vw 3vw;
    }
}

@media (min-width:630px) and (max-width:767px) {
    .header {
        font-size: 3vh;
        height: 6vh;
    }
    .nav {
        margin: 2vh;
    }
    .nav a {
        padding-top: 0vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .parallax {
        height: 20vh;
        background-position: 15% -25vh;
    }
    
    .sub {
        font-size: 5vw;
    }
    .content {
        font-size: 4vw;
        margin-bottom: 20vh;
    }
    .line {
        border-top: 1vw solid #01d6e9;
        width: 25vw;
        margin-top: 12vh;
        margin-left: -25vw;
        margin-right: -25vw;
    }
    .SectionHeader {
        width: 100%;
        font-size: 5vw;
    }
    strong {
        font-size: 4vw;
    }
    .wutIdo {
        margin-left: 5.5vw;
    }
    .columnListing {
        padding-left: 3vw;
        font-size: 3vw;
    }
    .button {
        font-size: 3vw;
        padding: 2vw 3vw;
        border-radius: 5vw;
    }
    .footer {
        bottom: 5vh;
    }
    .footer-button {
        font-size: 2.5vw;
        padding: 1.5vw 2vw;
        border-radius: 5vw;
    }
}

@media (min-width:767px) and (max-width:1080px) {
    .header {
        font-size: 3vh;
        height: 6vh;
    }
    .nav {
        margin: 2vh;
    }
    .nav a {
        padding-top: 0vh;
        padding-left: 8vw;
        padding-right: 8vw;
    }

    .parallax {
        height: 20vh;
        background-position: 15% -25vh;
    }
    
    .sub {
        font-size: 5vw;
    }
    .content {
        font-size: 4vw;
        margin-bottom: 20vh;
    }
    .line {
        border-top: 1vw solid #01d6e9;
        width: 20vw;
        margin-top: 8.5vh;
        margin-left: -25vw;
        margin-right: -25vw;
    }
    .SectionHeader {
        width: 100%;
        font-size: 4vh;
    }
    strong {
        font-size: 3vh;
    }
    .wutIdo {
        margin-left: 3vw;
    }
    .columnListing {
        padding-left: 3vw;
        font-size: 2vh;
    }
    .button {
        font-size: 3vh;
        padding: 2vw 3vw;
        border-radius: 5vw;
    }
    .footer {
        bottom: 5vh;
    }
    .footer-button {
        font-size: 2.5vw;
        padding: 1.5vw 2vw;
        border-radius: 5vw;
    }
}

@media (min-width:1080px) {
    .header {
        font-size: 3vh;
        height: 6vh;
    }
    .nav {
        margin: 2vh;
    }
    .nav a {
        padding-top: 0vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .parallax {
        height: 40vh;
        background-position: 15% -55vh;
    }
    
    .sub {
        font-size: 7vh;
    }
    .content {
        font-size: 5vh;
        margin-bottom: 40vh;
    }
    .line {
        border-top: 0.5vw solid #01d6e9;
        width: 20vw;
        margin-top: 25vh;
        margin-left: -25vw;
        margin-right: -25vw;
    }
    .SectionHeader {
        width: 100%;
        font-size: 8vh;
    }
    strong {
        font-size: 5vh;
    }
    .wutIdo {
        margin-left: 6.5vw;
    }
    .columnListing {
        padding-left: 4vw;
        font-size: 3vh;
    }
    .button {
        font-size: 4vh;
        padding: 1vw 2vw;
        border-radius: 5vw;
    }
    .footer-button {
        font-size: 2vh;
        padding: 1vw 2vw;
        border-radius: 5vw;
    }
}