/*=================================SETUP=================================*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'eigerdalsheavy';
    src: url('../css/fonts/eigerdalsheavy-webfont.woff2') format('woff2'),
        url('../css/fonts/eigerdalsheavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'crikey_tallsemibold';
    src: url('../css/fonts/crikey_tall-webfont-webfont.woff2') format('woff2'),
        url('../css/fonts/crikey_tall-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*=================================HTML Elements=================================*/

body {
    font-family: 'eigerdalsheavy';
    background-color: floralwhite;
    color: #01d6e9;
}

.header {
    border-bottom: solid 5px #01d6e9;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 9%;
    margin-bottom: 3%;
}

.footer-sub {
    font-size: 2vw;
}

.footer-button {
    border: 0.5vw solid #01d6e9;
    border-radius: 20px;
    color: #01d6e9;
    font-size: 2vw;
    font-family: eigerdalsheavy;
    margin-top: 5px;
    padding: 10px 10px;
    background-color: floralwhite;
    white-space: nowrap;
}

.parallax { 
  background-image: url("../images/PP.jpg");
  height: 300px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
    color: #01d6e9;
    text-decoration: none;
}

a:hover {
    color: #e99801;
}

article {
    overflow: auto;
}

div {
    display: block;
}

p {
    font-size: 2vw;
}

ul {
    overflow: hidden;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

strong {
    font-size: 3vw;
}

li {
    display: list-item;
    font-size: 2vw;
}

/*=================================Classes=================================*/
.wutIdo{
    margin-left: 20%;
}

.columnListing {
    width: 33.333333%;
    text-align: left;
    font-size
}

.noHover {
    pointer-events: none;
}

.nav {
    list-style: none;
    text-align: center;
    font-size: 3vw;
    margin: 0;
}

.nav li {
    display: inline;
    text-align: center;
}

.nav a {
    display: inline-block;
    padding: 1vw;
}

.sub {
    font-size: 3vw;
}

.contact {
    margin: 10%;
    margin-top: 0%;
}

.content {
    align-items: center;
    margin: 10%;
    margin-top: 5%;
}

.introtext {
    text-align: center;
}

.articletext {
    margin-left: 25%;
}

.picture {
    max-width: 25%;
    max-height: auto;
    float: left;
}

.profile {
    border-radius: 50%;
}

.titles {
    margin-top: 10%;
}

.SectionHeader {
    width: 200px;
    font-weight: bold;
    font-size: 3vw;
}

.title {
    font-weight: bold;
    color: #01d6e9;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.centered {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.centeredTitle {
    text-align: center;
}

.button {
    border: 0.5vw solid #01d6e9;
    border-radius: 20px;
    color: #01d6e9;
    display: inline-block;
    font-size: 2vw;
    font-family: eigerdalsheavy;
    margin-top: 10vw;
    padding: 1vw 2vw;
    background-color: transparent;
}

.button:hover {
    border: 0.5vw solid #e99801;
    color: #e99801;
    cursor: pointer;
}

.button-center {
    display: inline-block;
}

.line {
    border-top: 0.5vw solid #01d6e9;
    width: 25%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}


.ajaxForm {
    font-family: eigerdalsheavy;
}

.mail-text {
    width: 50%;
    max-width: 750px;
    margin: 1%;
    line-height: 2vw;
    padding: 6px;
    font-size: 1vw;
    border: 5px solid #01d6e9;
    border-radius: 10px;
}

.mail-creds {
    line-height: 2vw;
    padding: 6px;
    font-size: 1vw;
    border: 5px solid #01d6e9;
    border-radius: 10px;
}

.credentials {
    display: inline;
}

.project {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    border: 5px solid #01d6e9;
    border-radius: 1vw;
}

.project:hover {
    border: 5px solid #e99801;
    color: #e99801;
    cursor: pointer;
}

/*=================================Layout=================================*/

.flex {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    1
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: inline-block;
}

.column {
    flex-direction: column;
    align-items: center;
}

.wrapper {
    min-height: calc(100vh - 150px);
}

.img-wrapper {
    width: 25%;
    height: auto;
}


/*=================================Media Queries=================================*/

@media (max-width: 481px) {
    .main {
        font-size: 34px;
    }

    .sub {
        font-size: 24px;
    }

    .img-wrapper {
        width: 95%;
    }
}

@media (min-width: 481px) and (max-width:630px) {
    .main {
        font-size: 46px;
    }

    .sub {
        font-size: 33px;
    }

    .img-wrapper {
        width: 65%;
    }
}

@media (min-width:630px) and (max-width:767px) {
    .main {
        font-size: 64px;
    }

    .sub {
        font-size: 46px;
    }

    .img-wrapper {
        width: 75%;
    }
}
